In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("C:\\Users\\user\\Datasets\\Churn_Modelling.csv")

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
import tensorflow as tf

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [15]:
#Preprocess the dataset
X=data.drop(columns=['Exited'],axis=1)
y=data['Exited']

In [16]:
#Encode Categorical features
le=LabelEncoder()
X['Surname']=le.fit_transform(X['Surname'])
X['Gender']=le.fit_transform(X['Gender'])
X['Geography']=le.fit_transform(X['Geography'])

In [17]:
#Split the dataset into train and test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
#Standardize the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [19]:
#Define the neural network architecture
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_dim=X_train.shape[1]),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [21]:
#Define the loss function and metrics
loss_fn=tf.keras.losses.BinaryCrossentropy()
metrics=['accuracy']

In [23]:
#Define the optimizer with Nesterov Accelerated Gradient (NAG)
learning_rate=0.001
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate=learning_rate,momentum=momentum,nesterov=True)

In [24]:
#Compile the model
model.compile(optimizer=optimizer,loss=loss_fn,metrics=metrics)

In [25]:
#train the model
epochs=10
batch_size=32
model.fit(X_train,y_train,batch_size=batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

200/200 [==============================] - 2s 5ms/step - loss: 0.5871 - accuracy: 0.6975 - val_loss: 0.4882 - val_accuracy: 0.7987
Epoch 2/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4803 - accuracy: 0.7934 - val_loss: 0.4639 - val_accuracy: 0.7994
Epoch 3/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4639 - accuracy: 0.7933 - val_loss: 0.4502 - val_accuracy: 0.8006
Epoch 4/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4519 - accuracy: 0.7952 - val_loss: 0.4396 - val_accuracy: 0.8031
Epoch 5/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4423 - accuracy: 0.8023 - val_loss: 0.4316 - val_accuracy: 0.8056
Epoch 6/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4346 - accuracy: 0.8075 - val_loss: 0.4256 - val_accuracy: 0.8219
Epoch 7/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4283 - accuracy: 0.8163 - val_loss: 0.4204 - val_accuracy: 0.8213
Epoch 8/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4230 - accuracy: 0.8194 - val_loss: 0.4162 - val_accuracy: 0.8281
Epoch 9/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4177 - accuracy: 0.8214 - val_loss: 0.4124 - val_accuracy: 0.8319
Epoch 10/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4129 - accuracy: 0.8255 - val_loss: 0.4085 - val_accuracy: 0.8325

In [27]:
#Evaluate the model
test_loss,test_acc=model.evaluate(X_test,y_test)
print("Test Loss",test_loss)
print("Test Accuracy",test_acc)

63/63 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8310
Test Loss 0.3960856795310974
Test Accuracy 0.8309999704360962