In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\IMDB DataSet.csv")

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [6]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

# Step1 lowercasing

In [7]:
df['review']=df['review'].str.lower()

In [8]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# step2 Remove HTML Tags

In [9]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [12]:
text = "<html><body><p>Movie1</p><p>Click here to <a href = 'http://google.com'>download</a></p>"

In [13]:
remove_html_tags(text)

'Movie1Click here to download'

In [14]:
df['review'] = df['review'].apply(remove_html_tags)

In [15]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# step3 Remove urls

In [19]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+')
    return pattern.sub(r'',text)

In [20]:
text1='Check out my notebook https://www.deture.com/delta/note1234acc'

In [21]:
remove_url(text1)

'Check out my notebook '

# step4 Remove Punctuation

In [22]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [23]:
exclude=string.punctuation

In [24]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [27]:
text='string With../ punctuation?'

In [28]:
print(remove_punc(text))

string With punctuation

# step5 Spelling Correction

In [30]:
# !pip install TextBlob

In [31]:
from textblob import TextBlob

In [32]:
incorrect_text = "ceertain conditionas seveal ggenerationss aree modified in the saame maner."
textBlb=TextBlob(incorrect_text)
textBlb.correct().string

'certain conditions several generations are modified in the same manner.'

# Tokenization

In [33]:
# 1. prefix - character(s) at the begining = $(" .)
# 2. suffix - character(s) at the end = km).!"                                            
# 3. infix - character(s) in between = --/...

# 4. Exception - special-case rule to split a string into several tokens or 
#prevent a token from being split when punctuation rules are applied . = let's U.s.

In [34]:
# Approach the tokenizationusing the split function

# 1. word tokenization

sent1 = "I am going to delhi"
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [35]:
#sentence tokenization
sent2 = "I am going to delhi . I will there for 3 days. Let\'s hope the trip to be great"
sent2.split('.')

['I am going to delhi ',
 ' I will there for 3 days',
 " Let's hope the trip to be great"]

In [36]:
#problems with split function
sent3 = "I am going to delhi!"
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [37]:
# in the sent3 problem , there is seeing that ! is include with delhi .  so.we have to remove it by regular expression.

# 1. NLTK (Natural Language Tool Kit)

In [1]:
# !pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [2]:
from nltk.tokenize import word_tokenize , sent_tokenize

In [3]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [4]:
sent1 = "I am going to visit delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [5]:
sent2 = 'I have a Ph.D. in A.I.'
sent3 = "We 're here to help! mail us at nk@gmail.com"
sent4 = 'A Skm ride cost $10.50'

In [8]:
word_tokenize(sent2)

['I', 'have', 'a', 'Ph.D.', 'in', 'A.I', '.']

In [9]:
word_tokenize(sent3)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nk',
 '@',
 'gmail.com']

In [10]:
word_tokenize(sent4)

['A', 'Skm', 'ride', 'cost', '$', '10.50']

In [12]:
sent_tokenize(sent3)

["We 're here to help!", 'mail us at nk@gmail.com']