# An optimizer refers to an algorithm or method that adjusts the parameters of a neural network during the ttraing process in order to minimize the loss function and improve the model's performance.The primarygoal of optimization in deep learning is to find the optimal set of parameters that allow the neural network to make accurate predictions on new, unseen data.

Optimizers play a crucial role in the training of neural networks because they determine how the model's parameters are updated in response to the gradients of the loss function with respect to those parameter. Gradients represent the direction of steepest ascent of the loss function.

In [18]:
 #!pip install tensorflow
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
data=pd.read_csv("C:\\Users\\user\\Datasets\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
#Preprocess the dataset
X=data.drop(columns=['Exited'],axis=1)
y=data['Exited']

In [21]:
#Encode Categorical features
le=LabelEncoder()
X['Geography']=le.fit_transform(X['Geography'])
X['Gender']=le.fit_transform(X['Gender'])
X['Surname']=le.fit_transform(X['Surname'])

In [22]:
#Split the dataset into train and test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
# Standardize the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [33]:
#Define the neural network architecture
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_dim=X_train.shape[1]),#input layer
    tf.keras.layers.Dense(64,activation='relu'),#hidden layer
    tf.keras.layers.Dense(1,activation='sigmoid')#hidden layer
])

In [34]:
#Define nthe loss function and metrics
loss_fn=tf.keras.losses.BinaryCrossentropy()
metrics=['accuracy']

In [35]:
#Define nthe optimizer with Momentum
learning_rate=0.001
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate=learning_rate,momentum=momentum)

In [36]:
#Compile the model
model.compile(optimizer=optimizer,loss=loss_fn,metrics=metrics)

In [37]:
#Train the model
epochs=10
batch_size=32
model.fit(X_train,y_train,batch_size=batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

200/200 [==============================] - 2s 4ms/step - loss: 0.5545 - accuracy: 0.7563 - val_loss: 0.5035 - val_accuracy: 0.7987
Epoch 2/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4969 - accuracy: 0.7934 - val_loss: 0.4821 - val_accuracy: 0.7987
Epoch 3/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4799 - accuracy: 0.7934 - val_loss: 0.4667 - val_accuracy: 0.7987
Epoch 4/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4666 - accuracy: 0.7936 - val_loss: 0.4545 - val_accuracy: 0.7987
Epoch 5/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4565 - accuracy: 0.7937 - val_loss: 0.4454 - val_accuracy: 0.8006
Epoch 6/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4482 - accuracy: 0.7962 - val_loss: 0.4380 - val_accuracy: 0.8037
Epoch 7/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4413 - accuracy: 0.8000 - val_loss: 0.4321 - val_accuracy: 0.8069
Epoch 8/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4356 - accuracy: 0.8052 - val_loss: 0.4277 - val_accuracy: 0.8125
Epoch 9/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4307 - accuracy: 0.8069 - val_loss: 0.4242 - val_accuracy: 0.8156
Epoch 10/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4265 - accuracy: 0.8128 - val_loss: 0.4210 - val_accuracy: 0.8163

In [38]:
#Evaluate the model
test_loss,test_acc=model.evaluate(X_test,y_test)
print("Test Loss:",test_loss)
print("Test Accuracy:",test_acc)

63/63 [==============================] - 0s 2ms/step - loss: 0.4159 - accuracy: 0.8155
Test Loss: 0.4158514440059662
Test Accuracy: 0.815500020980835

# Task:
create restful API using flask